body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:927px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:540px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2669 {
  position:absolute;
  left:8px;
  top:9px;
  width:790px;
  height:540px;
}
#u2670 {
  position:absolute;
  left:2px;
  top:262px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:541px;
}
#u2671 {
  position:absolute;
  left:136px;
  top:9px;
  width:1px;
  height:540px;
}
#u2672 {
  position:absolute;
  left:2px;
  top:262px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2673 {
  position:absolute;
  left:30px;
  top:69px;
  width:29px;
  height:20px;
  color:#1E1E1E;
}
#u2674 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
}
#u2675 {
  position:absolute;
  left:30px;
  top:99px;
  width:29px;
  height:20px;
  color:#363636;
}
#u2676 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9933;
}
#u2677 {
  position:absolute;
  left:30px;
  top:129px;
  width:29px;
  height:20px;
  color:#FF9933;
}
#u2678 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2679 {
  position:absolute;
  left:30px;
  top:159px;
  width:29px;
  height:20px;
}
#u2680 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2681 {
  position:absolute;
  left:30px;
  top:189px;
  width:29px;
  height:20px;
}
#u2682 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2683 {
  position:absolute;
  left:181px;
  top:34px;
  width:43px;
  height:20px;
}
#u2684 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2685 {
  position:absolute;
  left:181px;
  top:87px;
  width:85px;
  height:20px;
}
#u2686 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2687 {
  position:absolute;
  left:314px;
  top:84px;
  width:300px;
  height:170px;
}
#u2688 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2689 {
  position:absolute;
  left:327px;
  top:97px;
  width:229px;
  height:22px;
}
#u2689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2689_input:disabled {
  color:grayText;
}
#u2690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2690 {
  position:absolute;
  left:327px;
  top:141px;
  width:71px;
  height:20px;
}
#u2691 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2692 {
  position:absolute;
  left:408px;
  top:139px;
  width:148px;
  height:26px;
}
#u2693 {
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  word-wrap:break-word;
}
#u2694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2694 {
  position:absolute;
  left:327px;
  top:181px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2695 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2696 {
  position:absolute;
  left:408px;
  top:179px;
  width:148px;
  height:26px;
}
#u2697 {
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  word-wrap:break-word;
}
#u2698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2698 {
  position:absolute;
  left:814px;
  top:40px;
  width:113px;
  height:20px;
}
#u2699 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
